@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-gutter {
    scrollbar-gutter: stable;
  }
}

@layer components {
  .modal {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
    width: 100%;
    max-height: 35rem;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
  }
}
