@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-gutter {
    scrollbar-gutter: stable;
  }
}
